In [2]:
import pandas as pd

In [3]:
pd.read_csv('capmetro-0pt5/calendar.txt')

,service_id,monday,tuesday,wednesday,thursday,friday,saturday,sunday,start_date,end_date
0,1-133_MRG_1,1,1,1,1,1,0,0,20200122,20200530
1,1-133_MRG_10,1,1,1,1,1,0,0,20200122,20200530
2,1-133_MRG_11,1,1,1,1,1,0,0,20200122,20200530
3,1-133_MRG_12,1,1,1,1,1,0,0,20200122,20200530
4,1-133_MRG_13,1,1,1,1,1,0,0,20200122,20200530
...,...,...,...,...,...,...,...,...,...,...
72,5-133_MRG_1,0,0,0,0,0,0,1,20200122,20200530
73,5-133_MRG_2,0,0,0,0,0,0,1,20200122,20200530
74,5-133_MRG_3,0,0,0,0,0,0,1,20200122,20200530
75,5-133_MRG_4,0,0,0,0,0,0,1,20200122,20200530
76,5-133_MRG_5,0,0,0,0,0,0,1,20200122,20200530

In [7]:
pd.read_csv('capmetro-0pt5/routes.txt')

,agency_id,route_id,route_short_name,route_long_name,route_type,route_url,route_color,route_text_color
0,1,1,1,North Lamar/South Congress,3,http://www.capmetro.org/current_schedules/pdf/...,004A97,FFFFFF
1,1,10,10,South 1st/Red River,3,http://www.capmetro.org/current_schedules/pdf/...,004A97,FFFFFF
2,1,103,103,Menchaca Flyer,3,http://www.capmetro.org/current_schedules/pdf/...,555555,FFFFFF
3,1,105,105,South 5th Flyer,3,http://www.capmetro.org/current_schedules/pdf/...,555555,FFFFFF
4,1,111,111,South Mopac Flyer,3,http://www.capmetro.org/current_schedules/pdf/...,555555,FFFFFF
...,...,...,...,...,...,...,...,...
79,1,981,981,Oak Knoll Express,3,http://www.capmetro.org/current_schedules/pdf/...,E2231A,FFFFFF
80,1,982,982,Pavilion Express,3,http://www.capmetro.org/current_schedules/pdf/...,E2231A,FFFFFF
81,1,985,985,Leander/Lakeline Direct,3,http://www.capmetro.org/current_schedules/pdf/...,E2231A,FFFFFF
82,1,987,987,Leander/Lakeline Express,3,http://www.capmetro.org/current_schedules/pdf/...,E2231A,FFFFFF
83,1,990,990,Manor/Elgin Express,3,http://www.capmetro.org/current_schedules/pdf/...,E2231A,FFFFFF

In [9]:
trips = pd.read_csv('capmetro-0pt5/trips.txt')

In [19]:
trips

,route_id,trip_id,service_id,trip_short_name,trip_headsign,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed
0,1,2277027_MRG_1,1-133_MRG_1,William Cannon,1-Lamar/South Congress SB,0,1007-1-133_MRG_1,42692,1,1
1,1,2277027_MRG_11,1-133_MRG_11,William Cannon,1-Lamar/South Congress SB,0,1007-1-133_MRG_11,42692,1,1
2,1,2277027_MRG_13,1-133_MRG_13,William Cannon,1-Lamar/South Congress SB,0,1007-1-133_MRG_13,42692,1,1
3,1,2277027_MRG_14,1-133_MRG_14,William Cannon,1-Lamar/South Congress SB,0,1007-1-133_MRG_14,42692,1,1
4,1,2277027_MRG_3,1-133_MRG_3,William Cannon,1-Lamar/South Congress SB,0,1007-1-133_MRG_3,42692,1,1
...,...,...,...,...,...,...,...,...,...,...
58487,663,2313858_MRG_1,4904-133_MRG_1,UT Campus,663-LA Lake Austin/UT IB,1,663006-4904-133_MRG_1,42876,1,1
58488,663,2313861_MRG_1,4904-133_MRG_1,UT Campus,663-LA Lake Austin/UT IB,1,663005-4904-133_MRG_1,42876,1,1
58489,663,2313863_MRG_1,4904-133_MRG_1,UT Campus,663-LA Lake Austin/UT IB,1,663007-4904-133_MRG_1,42876,1,1
58490,663,2313864_MRG_1,4904-133_MRG_1,UT Campus,663-LA Lake Austin/UT IB,1,663005-4904-133_MRG_1,42876,1,1
58491,663,2313868_MRG_1,4904-133_MRG_1,UT Campus,663-LA Lake Austin/UT IB,1,663007-4904-133_MRG_1,42876,1,1

In [15]:
type(trips[trips['service_id'] == '1-133_MRG_1']['route_id'][0])

numpy.int64

In [18]:
pd.read_csv('capmetro-0pt5-out/trips.txt')

,route_id,trip_id,service_id,trip_short_name,trip_headsign,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed
0,1,2277027_MRG_1,1-133_MRG_1,William Cannon,1-Lamar/South Congress SB,0,1007-1-133_MRG_1,42692,1,1
1,1,2277027_MRG_11,1-133_MRG_11,William Cannon,1-Lamar/South Congress SB,0,1007-1-133_MRG_11,42692,1,1
2,1,2277027_MRG_13,1-133_MRG_13,William Cannon,1-Lamar/South Congress SB,0,1007-1-133_MRG_13,42692,1,1
3,1,2277027_MRG_14,1-133_MRG_14,William Cannon,1-Lamar/South Congress SB,0,1007-1-133_MRG_14,42692,1,1
4,1,2277028_MRG_1,1-133_MRG_1,William Cannon,1-Lamar/South Congress SB,0,1005-1-133_MRG_1,42692,1,1
...,...,...,...,...,...,...,...,...,...,...
18071,465,2313348_MRG_15,1-133_MRG_15,University of Texas,465-MLK/UNIVERSITY OF TEXAS WB,0,465070-1-133_MRG_15,42804,1,1
18072,465,2313349_MRG_1,1-133_MRG_1,MLK Station,465-MLK/UNIVERSITY OF TEXAS EB,1,465070-1-133_MRG_1,42805,1,1
18073,465,2313349_MRG_12,1-133_MRG_12,MLK Station,465-MLK/UNIVERSITY OF TEXAS EB,1,465070-1-133_MRG_12,42805,1,1
18074,465,2313349_MRG_13,1-133_MRG_13,MLK Station,465-MLK/UNIVERSITY OF TEXAS EB,1,465070-1-133_MRG_13,42805,1,1
18075,465,2313349_MRG_14,1-133_MRG_14,MLK Station,465-MLK/UNIVERSITY OF TEXAS EB,1,465070-1-133_MRG_14,42805,1,1