In [2]:
import pandas as pd

In [3]:
skimsTransitCrowding = pd.read_csv('1.String _ skimsTransitCrowding.csv.gz')

In [4]:
skimsTransitCrowding['firstTwo'] = skimsTransitCrowding['vehicleId'].str[:2]

In [5]:
skimsTransitCrowding['lastSeven'] = skimsTransitCrowding['vehicleId'].str[-7:]

In [6]:
trips = pd.read_csv('trips.txt')

In [7]:
trips

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id,trip_short_name
0,CAPITOL,72761,RTD5982640,SAN JOSE,0,NaN,NaN,NaN
1,CAPITOL,72761,RTD5982641,SAN JOSE,0,NaN,NaN,NaN
2,CAPITOL,72764,RTD6253554,SAN JOSE,0,NaN,NaN,NaN
3,CAPITOL,72765,RTD8703586,SAN JOSE,0,NaN,NaN,NaN
4,CAPITOL,72762,RTD8703564,SAN JOSE,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
94,CAPITOL,72764,RTD6253565,skip col thru sc,0,NaN,NaN,NaN
95,CAPITOL,72762,RTD8703563,skip col thru sc,0,NaN,NaN,NaN
96,CAPITOL,72765,RTD8703585,skip col thru sc,0,NaN,NaN,NaN
97,CAPITOL,72761,RTD5982650,skip col thru sc,0,NaN,NaN,NaN
98,CAPITOL,72764,RTD6253566,skip col thru sc,0,NaN,NaN,NaN

In [8]:
trip_idlist = list(skimsTransitCrowding[skimsTransitCrowding['firstTwo'] == 'AM']['lastSeven'])

In [9]:
AM = trips[trips['trip_id'].isin(skimsTransitCrowding[skimsTransitCrowding['firstTwo'] == 'AM']['lastSeven'].astype(int))]

In [10]:
route = pd.read_csv('routes.txt')

In [11]:
route

,route_id,agency_id,route_short_name,route_long_name,route_type,route_color,route_text_color
0,CAPITOL,AM,NaN,CAPITOL,2,NaN,NaN

In [12]:
AM = route[route['route_id'].isin(AM['route_id'])]

In [13]:
AM

Empty DataFrame
Columns: [route_id, agency_id, route_short_name, route_long_name, route_type, route_color, route_text_color]
Index: []

In [ ]:
## Comes all from tram, but we don't have a place to add capacity for tram-VTA yet. We define a new vehicle type 
## or use TRAM-DEFAULT?